<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Thesis\QuickOrder\Api\Model\Data\QuickOrderInterface"
                type="Thesis\QuickOrder\Model\QuickOrder" />
    <preference for="Thesis\QuickOrder\Api\Model\Data\StatusInterface"
                type="Thesis\QuickOrder\Model\Status" />
    <preference for="Thesis\QuickOrder\Api\Model\QuickOrderRepositoryInterface"
                type="Thesis\QuickOrder\Repository\QuickOrderRepository" />
    <preference for="Thesis\QuickOrder\Api\Model\StatusRepositoryInterface"
                type="Thesis\QuickOrder\Repository\StatusRepository" />
    <preference for="Thesis\QuickOrder\Api\Model\Data\QuickOrderSearchResultInterface"
                type="Magento\Framework\Api\SearchResults" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item
                        name="order_grid_listing_data_source"
                        xsi:type="string"
                >Thesis\QuickOrder\Model\ResourceModel\QuickOrder\Grid\Collection</item>
            </argument>
        </arguments>
        <arguments>
            <argument name="collections" xsi:type="array">
                <item
                        name="status_grid_listing_data_source"
                        xsi:type="string"
                >Thesis\QuickOrder\Model\ResourceModel\Status\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
